html body{
    height: 100%;
    width: 100%;
    margin:0;
}
*{
    box-sizing: border-box;
}
.heading {
    text-align: center;
    padding:10px;
    color: white;
    font-size: 20px;
    background-color: mediumspringgreen;
    font-family: sans-serif;
    font-weight: 600;
}

button{
    min-width: 20%;
    margin-right: calc(10%-5px);
}
input{
    min-width: 60%;
    margin-left: 10%;
    margin-right: 5px;
}
.input_container{
    padding: 10px;
}
.taskContainer{
    padding: 5px;
    padding-top:15px;
    text-align: center;
}
.taskDes{
    display: inline-block;
    width: 60%;
    padding: 10px;

}